html, body {
	width: 100%;
	height: 100%;
	background: red;
}

.onecolumn, .a {
	background: skyblue;
	width: 100%;
	height: 50%;
}

.onecolumn, .b {
	background: pink;
	height: 50%;
	width: 100%;
}

.twocolumn, .a {
	background: skyblue;
	width: 50%;
	height: 100%;
}
.twobolumn, .b {
	background: pink;
	width: 50%;
	height: 100%;
}